.txtmain{
    font-size: large;
    font-family: Impact, fantasy;

}
#patch{
    font-size: small;
    padding-left:65% ;
}
body{
    background-color:#242f39;
    color: white;
}
.hover:hover{
    opacity: 50%;
}
table img{
    width: 50%;
    height: 50%;
}